site_name: LOVE2D Software Rasterizer
site_description: A 3D software rendering engine in Lua - Complete documentation with mathematical explanations
site_author: HambuP
repo_url: https://github.com/HambuP/Rasterizador_LOVE2D
repo_name: HambuP/LOVE2D-Rasterizer
edit_uri: ""

theme:
  name: material
  language: en
  font:
    text: Poppins
    code: Roboto Mono
  palette:
    # Dark mode (default)
    - scheme: slate
      primary: blue grey
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Light mode
    - scheme: default
      primary: blue
      accent: light blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.instant
    - navigation.tracking
    - navigation.expand
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  # Matem치ticas
  - pymdownx.arithmatex:
      generic: true
  # C칩digo
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  # Contenido
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  # Listas y tablas
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - tables
  # Extras
  - footnotes
  - pymdownx.mark
  - pymdownx.critic
  - pymdownx.keys
  - toc:
      permalink: true
      toc_depth: 3

extra_javascript:
  # MathJax para f칩rmulas matem치ticas LaTeX
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/HambuP/Rasterizador_LOVE2D
      name: GitHub Repository
  analytics:
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: Very helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: Could be improved
          data: 0
          note: >-
            Thanks! Help us improve by reporting issues on GitHub.

nav:
  - Home: index.md
  - Explanation:
      - Simple Rasterization in LOVE: explanation/rasterization.md
      - Basics of 3D Projection: explanation/projection.md
      - Triangle Assembly: explanation/assembly.md
      - Camera and Movement: explanation/camera.md
      - Z-Buffer: explanation/zbuffer.md
  - About:
      - License: https://github.com/HambuP/Rasterizador_LOVE2D/blob/main/LICENSE
      - Source Code: https://github.com/HambuP/Rasterizador_LOVE2D

plugins:
  - search:
      lang: en